<h1 class="intertitre">Ajout</h1>

<form [formGroup]="formAjout">
  <!-- Name -->
  <div>
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Titre" formControlName="titre" />
      <mat-error *ngIf="errorHandling('titre', 'required')">
        Le champs est obligatoire
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Themes" formControlName="theme" />
    </mat-form-field>
  </div>

  <!-- Submit -->
  <div>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!formContact.valid"
      (click)="ajout()"
    >
      Ajouter
    </button>
  </div>
</form>
